.list {
  padding: 5px;
}
.searchBar {
  padding: 10px 10px 10px 20px;
  display: block;
  line-height: 20px;
}
ul{
   padding: 0 15px 0 0;
   border-right: 15px;
}
li {
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 30px;
  border-bottom: solid 1px #CCCCCC;
  padding: 0 0 0 5px;
  cursor: pointer;
}
#map-container {
    height: 700px;
    max-width: 100%;
    z-index: 1;
}
.selected, li:hover {
  color: #FFFFFF;
  background-color: #58453E;
}
.li:hover {
  color: #FFFFFF;
}
h1 {
  background-color: #58453E;
  font-family: 'Belleza', sans-serif;
  letter-spacing:.02em; */
  font-size: 30px;
  color: #EEF7FF;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 30px;
}
.wikipedia-container {
  //visibility: hidden;
}
.hide {
  display:none;
}