#header {
  position: fixed;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  background-color: #58453E;
  opacity: 1;
  z-index: 110;
  text-align: center;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#nav-bar {
  position: fixed;
  display:block;
  width: 274px;
  height: 100%;
  top: 180px;
  left: 0px;
  background-color: #58453E;
  z-index: 100;
  backface-visibility: hidden;/* Add to improve animations with GPU acceleration - as per Udacity Reviewer */
    will-change: transform;/* Add to allow browser to determine if it should create a new layers */
}

#searchBar {
  margin-left: 0px;
  margin-top: 12px;
}

#markerList {
  font-size: 18px;
  color: #EEF7FF;
  text-align: left;
  padding-left: 20px;
}
#map {
  width: 100%;
  height: 300%;
  background-color: #ccc;
}
h1 {
  font-family: 'Belleza', sans-serif;
  letter-spacing: .02em;
  font-size: 50px;
  color: #EEF7FF;
}
nav {
  width: 30%;
  float: left;
}
main {
  width: 70%;
  float: left;
}
#container {
  width: 100%;
  height: 100%;
}
.hamburger {
  font-size: 38px;
  color: #4a8ffb;
  margin-top: 10px;
  float: right;
  margin-right: 20px;
}
.logo {
  float: left;
}
.hide {
  display:none;
}