.list {
  padding: 5px;
}
.searchBar {
  padding: 10px 10px 10px 20px;
  display: block;
  line-height: 20px;
}
ul{
   padding: 0 15px 0 0;
   border-right: 15px;
}
li {
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  line-height: 30px;
  border-bottom: solid 1px #cccccc;
  padding: 0 0 0 5px;
  cursor: pointer;
}
#map-container {
    height: 700px;
    max-width: 100%;
    z-index: 1;
}
.selected, li:hover {
  color: #ffffff;
  background-color: #58453e;
}
.li:hover {
  color: #ffffff;
}
h1 {
  background-color: #58453e;
  font-family: 'Belleza', sans-serif;
  letter-spacing:.02em; */
  font-size: 30px;
  color: #eef7ff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 30px;
}
.wikipedia-container {
  font-size: 15px;
  padding: 0 0 0 4px;
}
.hide {
  display:none;
}